.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--error-bg-color);
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
  animation: fadeIn 1s ease-out;
}

.error-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--error-text-color);
}

.error-message {
  font-size: 1em;
  color: #b0b0b0;
  margin-top: 5px;
}

.highlight {
  color: var(--error-text-color);
  font-weight: 600;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
