.search-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.search-input {
  background-color: var(--input-bg);
  color: var(--input-text-color);
  border: 2px solid var(--input-border-color);
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 10px;
  width: 100%;
  max-width: 320px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 255, 170, 0.102);
}

.search-input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 8px var(--primary-color)aa;
  background-color: var(--input-bg);
}

.search-input::placeholder {
  color: #bbb;
  font-style: italic;
}