.navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-bg);
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-links {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav-links a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: var(--link-hover-color);
}

/* HAMBURGER ICON */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--primary-color);
  border-radius: 2px;
}

/* RESPONSIVE RULES */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: var(--header-bg);
    flex-direction: column;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .nav-actions {
    flex-direction: column;
    align-items: flex-end;
  }
  
}
.logo-img {
  height: 60px; /* más razonable que 100px */
  object-fit: contain;
}
