/* comentarios cntrol + k + c  */
/* vamos a usar grid en este css */
/* grid es un modelo de rejillas o cuadriculas para css */
:root{
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #121212;
  /* background-color: #121212; */
}
.grid-img{
    display: grid;
    justify-items: center;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    /* grid-template-columns: 1fr 1fr 1fr; */
}
.grid-page{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

button {
    background-color: #64ffb7; /* Un color morado brillante para el botón */
    color: #1a1a1a;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
  }
  button:hover {
    background-color: #17a161; /* Morado más oscuro al pasar el ratón */
  }
  button:disabled {
    background-color: #7ed4ac; /* Un morado suave más claro para el fondo */
  color: #1a1a1a; /* Texto suave y claro */
  cursor: not-allowed; /* Indicador visual de que el botón no puede ser usado */
  opacity: 0.8; /* Menor opacidad para hacer el botón menos llamativo pero no completamente apagado */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
  }

h1{
    color: #E0E0E0;
    /* color: #D1D1D1; */
}
p{
    color: #A1A1A1;
    /* color: #B0B0B0; */
}

.card {
    background-color: #333; /* Fondo oscuro para la tarjeta */
    color: #E0E0E0; /* Texto claro */
    border-radius: 8px; /* Bordes redondeados */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para dar un efecto de profundidad */
    width: 300px; /* Ancho de la tarjeta */
    margin: 20px;
    font-family: Arial, sans-serif;
  }
  
  .card-img {
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #64ffb7; /* Un morado suave para el título */
  }
  
  .card-description {
    font-size: 1em;
    margin-bottom: 20px;
    color: #B0B0B0; /* Un color gris más suave para el texto */
  }
  