/* VARIABLES DE COLORES */
:root {
  /* Colores Principales */
  --primary-color-dark: #04b3cb; /* Color principal dark */
  --secondary-color-dark: #06cbe5; /* Color secundario dark */
  --tertiary-color-dark: #1a1a1a; /* Color terciario dark */
  --quaternary-color-dark: #ffffff; /* Color cuaternario dark */

  --primary-color-light: #000000; /* Color principal light */
  --secondary-color-light: #444444; /* Color secundario light */
  --tertiary-color-light: #ffffff; /* Color terciario light */
  --quaternary-color-light: #1a1a1a; /* Color cuaternario light */

  /* Colores de Fondo */
  --background-color-dark: #1c2c3c; /* Fondo dark */
  --background-color-light: #f5f7fa; /* Fondo light */

  /* Colores de Enlaces */
  --link-hover-color-dark: #b1e12c; /* Hover en enlaces dark */
  --link-hover-color-light: #007acc; /* Hover en enlaces light */

  /* Colores de Header */
  --header-bg-dark: #1e2939;
  --header-bg-light: #f1f1f1;
}

/* Modo claro */
body.light-theme {
  --background-color: var(--background-color-light); /* Fondo claro */
  --header-bg: var(--header-bg-light); /* Fondo navbar claro */
  --header-border-top: var(--primary-color-light);

  --card-bg: var(--tertiary-color-light); /* Fondo claro para las tarjetas */
  --card-title-color: var(--primary-color-light); /* Título claro */
  --card-description-color: var(--quaternary-color-light); /* Descripción clara */

  --input-bg: var(--tertiary-color-light);
  --input-text-color: var(--quaternary-color-light);
  --input-border-color: var(--primary-color-light); /* Borde input claro */
  --input-bg-focus: var(--tertiary-color-light);
  --input-border-color-focus: var(--primary-color-light);
  --input-box-shadow-focus: var(--primary-color-light);

  --error-bg-color: var(--tertiary-color-light); /* Fondo de error claro */
  --error-text-color: var(--primary-color-light); /* Texto de error claro */
  --error-title-color: var(--primary-color-light);

  --loading-text-color: var(--primary-color-light);
  --paginator-page-number-color: var(--quaternary-color-light);
  --spinner-border-color: var(--primary-color-light);

  --link-color: var(--primary-color-light);
  --link-hover-color: var(--link-hover-color-light); /* Hover de enlaces claros */

  --icon-color: var(--primary-color-light);
  --icon-hamburger-color: var(--primary-color-light);

  --btn-theme-toggle: var(--primary-color-light);
  --btn-bg: var(--primary-color-light); /* Color de fondo para el tema claro */
  --btn-text-color: var(--tertiary-color-light); /* Color del texto en el tema claro */
  --btn-hover-bg: var(--secondary-color-light); /* Hover en tema claro */
  --btn-disabled-bg: #cccccc; /* Fondo deshabilitado en tema claro */
  --btn-disabled-text-color: #666666; /* Texto deshabilitado en tema claro */

  --error-404-bg: var(--quaternary-color-light);
  --error-404-text-color: var(--quaternary-color-light);
}

/* Modo oscuro */
body.dark-theme {
  --background-color: var(--background-color-dark); /* Fondo oscuro */
  --header-bg: var(--header-bg-dark); /* Fondo navbar oscuro */
  --header-border-top: var(--primary-color-dark);

  --card-bg: var(--tertiary-color-dark); /* Fondo oscuro para las tarjetas */
  --card-title-color: var(--primary-color-dark); /* Título oscuro */
  --card-description-color: var(--quaternary-color-dark); /* Descripción oscura */

  --input-bg: var(--tertiary-color-dark);
  --input-text-color: var(--quaternary-color-dark);
  --input-border-color: var(--primary-color-dark); /* Borde input oscuro */
  --input-bg-focus: var(--tertiary-color-dark);
  --input-border-color-focus: var(--primary-color-dark);
  --input-box-shadow-focus: var(--primary-color-dark);

  --error-bg-color: var(--tertiary-color-dark); /* Fondo de error oscuro */
  --error-text-color: var(--primary-color-dark); /* Texto de error oscuro */
  --error-title-color: var(--primary-color-dark);

  --loading-text-color: var(--primary-color-dark);
  --paginator-page-number-color: var(--quaternary-color-dark);
  --spinner-border-color: var(--primary-color-dark);

  --link-color: var(--primary-color-dark);
  --link-hover-color: var(--link-hover-color-dark); /* Hover de enlaces oscuros */

  --icon-color: var(--primary-color-dark);
  --icon-hamburger-color: var(--primary-color-dark);

  --btn-theme-toggle: var(--primary-color-dark);
  --btn-bg: var(--primary-color-dark); /* Color del fondo del botón */
  --btn-text-color: var(--tertiary-color-dark); /* Color del texto del botón */
  --btn-hover-bg: var(--secondary-color-dark); /* Color del fondo cuando se pasa el ratón */
  --btn-disabled-bg: #6daeb4; /* Fondo del botón deshabilitado */
  --btn-disabled-text-color: #444; /* Color del texto del botón deshabilitado */

  --error-404-bg: var(--quaternary-color-dark);
  --error-404-text-color: var(--quaternary-color-dark);
}