.footer {
  background-color: var(--header-bg);
  padding: 1.5rem;
  text-align: center;
  border-top: 2px solid var(--header-border-top);
  margin-top: 3rem;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.3);
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.social-links {
  display: flex;
  gap: 1.5rem;
}

.icon-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon {
  color: var(--icon-color);
  font-size: 30px;
  transition: color 0.3s ease;
}

.icon-link:hover .icon {
  color: var(--link-hover-color);
}

.signature-link {
  color: var(--link-color);
  text-decoration: none;
  font-family: monospace;
  transition: color 0.3s ease;
}

.signature-link:hover {
  color: var(--link-hover-color);
}

@media (min-width: 600px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }
}
